@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primaryTextColor: #030303; /* untuk judul */
    --secondaryTextColor: #3E3E3E; /* untuk paragraph */
    --thirdTextColor: #4C4C4C;
    --formTextColor: #7B7B7B;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #FAFAFA;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;
    --formBackgroundColor: #f2f2f2;

    --primaryColor: #982535;
    --secondaryColor: #F7AD5E;
    --thirdColor: #9DCEB3;
    --fourthColor: #C3D6E8 ;

    --secondPrimaryColor: #E0BEC2;
    --secondSecondaryColor: #FDE6CF;
    --secondThirdColor: #E2F0E8;
    --secondFourthColor: #EDF3F8;

}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

div{
    display: block;
    unicode-bidi: isolate;
}

header{
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 60px;
    width: 100vw;
    padding: 0 6%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primaryBackgroundColor);
    transition: background-color .3s; 
}

header .headerLeft{
    align-items: center;
    display: flex;
    gap: 25px;
    color: var(--secondaryTextColor);
    transition: .3s;
    flex: 0 0 auto;
}

header .headerLeft i{
    font-size: 24px;
    cursor: pointer;
    display: none;
}

header .title{
    font-size: 1.4rem;
    color: var(--primaryColor);
    font-weight: 500;
}

header .nav{
    margin-left: auto;
}

header a{
    text-decoration: none;
    color: var(--secondaryTextColor);
    cursor: pointer;
    transition: .3s;
}

header .menu{
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
}

header .lnk a{
    position: relative;
    font-size: 1em;
    cursor: pointer;
    line-height: 20px;
    transition: color .3s;
}

header .lnk a:hover {
    color: var(--primaryColor);
    font-weight: 500;
}

header .lnk a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 99%;
    height: 1px;
    transform-origin: left;
    transform: scaleX(0);
    transition: .3s;
    background-color: var(--primaryColor);
}

header .lnk a:hover::after{
    transform: scaleX(1);
}

body{
    background-color:var(--primaryBackgroundColor);
    unicode-bidi: isolate;
}

main{
    display: flex;
    height: 90vh;
    flex-wrap: wrap;
    padding-top: 90px;
}

section{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

/* Home Section */
.contIntro{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    width: 80%;
}

.introduction{
    height: 100%;
    flex-grow: 1;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introduction h1{
    font-size: 3.5rem;
    color: var(--primaryTextColor);
    font-weight: 650;
}

.introduction p{
    margin-top: 10px;
    font-size: 1rem;
    color: var(--secondaryTextColor);
    display: block;
    unicode-bidi: isolate;
}

.introduction span{
    color: var(--primaryColor);
}

.btn{
    display: flex;
    gap: 15px;
    align-items: center;
    width: 80%;
}

.contIntro .btn{
    margin-top: 20px;
    width: auto;
    margin-left: 8px;
    gap: 15px;
}

.btn i{
    font-size: 1.3rem;
    margin-right: 8px;
    font-weight: 500;
}

.btn a{
    display: inline-block;
    padding: 10px 25px;
    background-color: transparent;
    color: var(--primaryColor);
    border-radius: 5px;
    border: 2.5px solid var(--primaryColor);
    font-weight: 420;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn a:hover{
    background-color: var(--primaryColor);
    color: var(--primaryBackgroundColor);
}

.imgIntro{
    background-image: url(../images/introduction-img.png);
    margin-right: 100px;
    transform: scaleX(1);
}

.image{
    width: 500px;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Benefit Section */
.benefitSection{
    display: flex;
    justify-content: center;
    gap: 120px;
    flex-wrap: wrap;
}

.contBenefit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.benefit1{
    margin-left: -80px;
    margin-top: 90px;
}

.benefit2{
    margin-left: 30px;
}

.benefit{
    align-items: last baseline;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    width: 290px;
    height: 230px;
    position: relative;
    padding: 25px;
    background-color: var(--primaryBackgroundColor);
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    justify-content: center;
    margin-top: 2rem;
}

.benefit img{
    width: 60px;
}

.benefit h2{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primaryTextColor);
}

.benefit p{
    color: var(--secondaryTextColor);
    font-size: 14px;
}

.contExp{
    width: 500px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-top: 130px;
}

.explain h1{
    font-size: 3rem;
    color: var(--primaryTextColor);
    margin-bottom: 20px;
}

.explain p{
    font-size: 1rem;
    color: var(--secondaryTextColor);
    margin-bottom: 10px;
}

.countUse{
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    gap: 50px;
}

.song h2{
    color: var(--primaryColor);
    font-size: 1.7rem;
}

.song p{
    font-size: 1rem;
    color: var(--primaryTextColor);
    font-weight: 420;
}

.user h2{
    color: var(--secondaryColor);
    font-size: 1.7rem;
}

.user p{
    font-size: 1rem;
    color: var(--primaryTextColor);
    font-weight: 420;
}

.titleTestimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.user-testimonial{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 100px;
    margin-bottom: 50px;
}

.testimonial{
    position: relative;
    width: 700px;
    height: 480px;
    padding: 40px 0;
    background-color: var(--primaryBackgroundColor);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.user-testimonial button{
    font-size: 1.5rem;
    height: 2.2em;
    width: 2.2em;
    background-color: var(--primaryBackgroundColor);
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    box-shadow: 0 0 1em rgba(1, 30, 86, 0.15);
    cursor: pointer;
    border-radius: 50%;
}

button#next{
    right: 270px;
}

button#prev{
    left: 270px;
}

.user-testimonial button:hover{
    background-color: var(--primaryColor);
    color: var(--primaryBackgroundColor);
}

.testi-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testi-content p{
    color: var(--secondaryTextColor);
    font-size: 1rem;
    text-align: center;
    padding: 0 100px;
    margin-bottom: 40px;
    font-weight: 400;
}

.testi-content h3{
    color: var(--secondaryTextColor);
    font-size: 1.3rem;
    text-align: center;
    padding: 0 100px;
    margin-top: 10px;
}

.testi-content .quote-icon{
    font-size: 1.5rem;
    color: var(--primaryColor);
    margin-bottom: 20px;
}

.testi-content img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 35px;
}

footer{
    background-color: var(--primaryColor);
    width: 100%;
}

.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 15px;
    color: var(--primaryColor);
    background-color: var(--primaryBackgroundColor);
    margin: 15px;
    border-radius: 50%;
    font-size: 1.5em;
}

.socialIcons a i{
    color: var(--primaryBackgroundColor);
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: var(--primaryColor);
    color: var(--primaryBackgroundColor);
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: var(--primaryBackgroundColor);
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li{
    list-style: none;
}

.footerNav ul li a{
    color: var(--primaryBackgroundColor);
    margin: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    padding: 30px;
    text-align: center;
}

.footerBottom p{
    color: var(--primaryBackgroundColor);
}

/* RESPONSIVE */
@media only screen and (max-width : 991px){
    header{
        justify-content: flex-start;
    }

    header .headerLeft i{
        display: flex;
        margin-left: 25px;
    }

    header .headerLeft i{
        display: flex;
        margin-left: 25px;
    }

    header .nav{
        position: fixed;
        z-index: 1001;
        top: 0;
        left: 0;
        width: 100vw;
        height: calc(100vh - 60px);
        margin-top: 60px;
        background-color: var(--primaryBackgroundColor);
        transform: translateX(-100%);
    }

    header .nav-active{
        transition: .3s ease-out;
        transform: translateX(0);
    }

    header .nav .menu{
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: initial;
    }

    header .nav .menu li{
        padding: 15px 55px;
    }

    .introduction{
        width: 100vw;
        height: auto;
    }

    .contIntro{
        width: 300px;
        margin-top: 30px;
    }

    .imgIntro{
        margin: auto;
    }

    .image{
        width: 400px;
        height: 400px;
        margin-top: 50px;
    }
    
    .introduction h1{
        font-size: 3.2rem;
    }

    .btn{
        flex-direction: column;
        display: flex;
        margin-right: 120px;
    }

    .btn a{
        display: inline-block;
        padding: 10px 20px;
    }

    .benefitSection{
        min-height: auto;
        padding: 20px 0;
        margin-bottom: 30px;
        display: block;
    }
    
     section .contBenefit{
        width: 100vw;
        height: auto;
        margin-top: 500px;
        margin-bottom: 100px;
    }
    
    .benefit1{
        margin-left: 0;
    }

    .benefit2{
        margin-left: 0;
    }

    section .contExp{
        width: 300px;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
    }

    .contExp{
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 130px auto 0 auto;
        align-items: center;
    }

    .titleTestimonial{
        margin-top: 260vh;
    }

    .user-testimonial{
        position: relative;
        align-items: center;
        width: 100%;
        padding: 30px 0;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    .testimonial{
        width: 300px;
        height: auto;
        min-height: 450px;
        padding: 30px 15px;
        margin: 0 auto;
    }

    .testi-content{
        padding: 0 15px;
    }

    .testi-content p{
        padding: 0 20px;
        margin-bottom: 20px;
        font-size: 0.9rem;
    }

    .testi-content h3{
        padding: 0 20px;
        font-size: 1.1rem;
    }

    .testi-content img{
        height: 140px;
        width: 140px;
        margin-bottom: 25px;
    }
    
    .user-testimonial button{
        font-size: 1.2rem;
        height: 2em;
        width: 2em;
        z-index: 10;
    }

    button#next{
        right: 15px;
    }

    button#prev{
        left: 15px;
    }

    .footerNav ul{
        flex-direction: column;
    }

    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}