@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primaryTextColor: #030303; /* untuk judul */
    --secondaryTextColor: #3E3E3E; /* untuk paragraph */
    --thirdTextColor: #4C4C4C;
    --formTextColor: #7B7B7B;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #FAFAFA;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;
    --formBackgroundColor: #f2f2f2;

    --primaryColor: #982535;
    --secondaryColor: #F7AD5E;
    --thirdColor: #9DCEB3;
    --fourthColor: #C3D6E8 ;

    --secondPrimaryColor: #E0BEC2;
    --secondSecondaryColor: #FDE6CF;
    --secondThirdColor: #E2F0E8;
    --secondFourthColor: #EDF3F8;

}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

main{
    padding-top: 80px;
}

div{
    display: block;
    unicode-bidi: isolate;
}

header{
    display: flex;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    background-color: var(--primaryBackgroundColor);
    align-items: center;
    justify-content: space-between;
    transition: background-color normal 0.3s ease 0s;
}

.logo a{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: 500;
    margin-left: 40px;
}

nav{
    margin-left: 10px;
    margin-right: 200px;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1;
    padding: 2rem 2rem;
    list-style: none;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul{
    position: relative;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0 100px;
    float: right;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-left: 700px;
}

nav ul li a{
    display: block;
    padding: 0 10px;
    color: var(--secondaryTextColor);
    text-decoration: none;
    transition: all;
    transition-property: 300ms;
    border-bottom: 2.2px solid #475c7400;
}

nav ul li a:hover{
    color: var(--primaryColor);
    font-weight: 500;
    border-bottom: 2.2px solid var(--primaryColor);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transform: all 0.3s ease-in-out;
    background-color: var(--secondaryTextColor);
}

body{
    background-color:var(--primaryBackgroundColor);
}

section{
    display: flex;
    height: 90vh;
    flex-wrap: wrap;
}

main{
    display: flex;
    height: 90vh;
    flex-wrap: wrap;
}

.introduction{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px
}

.introduction h1{
    font-size: 3.5rem;
    color: var(--primaryTextColor);
    font-weight: 650;
}

.introduction p{
    margin-top: 10px;
    font-size: 1rem;
    color: var(--secondaryTextColor);
    display: block;
    unicode-bidi: isolate;
}

.introduction span{
    color: var(--primaryColor);
}

.btn{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
}

.btn i{
    font-size: 1.3rem;
    margin-right: 8px;
    font-weight: 500;
}

.btn a{
    display: inline-block;
    padding: 10px 25px;
    background-color: transparent;
    color: var(--primaryColor);
    border-radius: 5px;
    border: 2.5px solid var(--primaryColor);
    font-weight: 420;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn a:hover{
    background-color: var(--primaryColor);
    color: var(--primaryBackgroundColor);
}

main .div-section{
    height: 100%;
    /* width: 50%; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: column;
}

.imgIntro{
    width: 500px;
    height: 600px;
    display: block;
}

.benefitSection{
    display: flex;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
}

.contentBenefit{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    /* margin-top: 1rem; */
    /* width: 470px; */
}

.benefit1{
    margin-left: -80px;
    margin-top: 90px;
}

.benefit2{
    margin-left: 30px;
}

.benefit{
    align-items: last baseline;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    width: 290px;
    height: 230px;
    position: relative;
    padding: 25px;
    background-color: var(--primaryBackgroundColor);
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    justify-content: center;
    margin-top: 2rem;
}

.benefit img{
    width: 60px;
}

.benefit h2{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primaryTextColor);
}

.benefit p{
    color: var(--secondaryTextColor);
    font-size: 14px;
}

.contentExp{
    width: 500px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-top: 130px;
}

.explain h1{
    font-size: 3rem;
    color: var(--primaryTextColor);
    margin-bottom: 20px;
}

.explain p{
    font-size: 1rem;
    color: var(--secondaryTextColor);
    margin-bottom: 10px;
}

.countUse{
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    gap: 50px;
}

.song h2{
    color: var(--primaryColor);
    font-size: 1.7rem;
}

.song p{
    font-size: 1rem;
    color: var(--primaryTextColor);
    font-weight: 420;
}

.user h2{
    color: var(--secondaryColor);
    font-size: 1.7rem;
}

.user p{
    font-size: 1rem;
    color: var(--primaryTextColor);
    font-weight: 420;
}

.titleTestimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 10px; */
    margin-top: 10px;
}

.user-testimonial{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 100px;
    margin-bottom: 50px;
}

.testimonial{
    position: relative;
    /* max-width: 700px;
    width: 100%; */
    width: 700px;
    height: 480px;
    padding: 40px 0;
    background-color: var(--primaryBackgroundColor);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.user-testimonial button{
    font-size: 1.5rem;
    height: 2.2em;
    width: 2.2em;
    background-color: var(--primaryBackgroundColor);
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    /* bottom: 0; */
    border: none;
    box-shadow: 0 0 1em rgba(1, 30, 86, 0.15);
    cursor: pointer;
    border-radius: 50%;
}

button#next{
    right: 270px;
}

button#prev{
    left: 270px;
}

.user-testimonial button:hover{
    background-color: var(--primaryColor);
    color: var(--primaryBackgroundColor);
}

.testi-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testi-content p{
    color: var(--secondaryTextColor);
    font-size: 1rem;
    text-align: center;
    padding: 0 100px;
    margin-bottom: 40px;
    font-weight: 400;
}

.testi-content h3{
    color: var(--secondaryTextColor);
    font-size: 1.3rem;
    text-align: center;
    padding: 0 100px;
    margin-top: 10px;
}

.testi-content .quote-icon{
    font-size: 1.5rem;
    color: var(--primaryColor);
    margin-bottom: 20px;
}

.testi-content img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 35px;
}

footer{
    background-color: var(--primaryColor);
    width: 100%;
}

.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 15px;
    color: var(--primaryColor);
    background-color: var(--primaryBackgroundColor);
    margin: 15px;
    border-radius: 50%;
    font-size: 1.5em;
}

.socialIcons a i{
    color: var(--primaryBackgroundColor);
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: var(--primaryColor);
    color: var(--primaryBackgroundColor);
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: var(--primaryBackgroundColor);
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li{
    list-style: none;
}

.footerNav ul li a{
    color: var(--primaryBackgroundColor);
    margin: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    /* background-color: var(--primaryTextColor); */
    padding: 30px;
    text-align: center;
}

.footerBottom p{
    color: var(--primaryBackgroundColor);
}

@media only screen and (max-width : 991px){
    body .hamburger{
        display: block;
        cursor: pointer;
    }

    body .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    body .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    body .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .footerNav ul{
        flex-direction: column;
    }

    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

